body, html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}
.slider{
  width: 95px;
}

.EQtitle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 437px;
  display: flex;
  padding-top: 5px;
}
.delayTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 155px;
  display: flex;
  padding-top: 2px;

}

.effectsInfo{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: #5a5a5a;
  margin-left: 8px;
  margin-right: 8px;
}

.trackAudioEffectsPanel{
  display: flex;
  align-items: flex-start;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.61);
  flex-direction: row;
}
.delayAndReverbContainer{
  display: flex;
  width: 190px;
  height: 150px;
  flex-direction: column;

  border-right: 2px solid #A9A9A9;
}
.delayDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 155px;
}
.delayHolder{
  margin-left: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  width: 155px;
  height: 145px;
}

.EQdiv{
  display: flex;
  width: 430px;
  height: 150px;
  flex-direction: column;
}

.sliderEQ{
  width: 200px;
}

.eqHolder{
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  align-items: center;
  width: 430px;
  height: 180px;

}


.demoPage{
  color : white;
}

.title{
  font-family: 'Roboto', sans-serif;
  color: #C5C4C4;
  font-size: 13px;
  font-weight: 500;
}

.trackMasterPanel{
  display:flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;
  box-shadow: 1px 0px 5px 1px #5F5D5D;
}
.trackInfoPanel{
  display: flex;
  height: 24px;
  flex-direction: row;
  background-color: #5a5a5a;
  align-items: center;
}

.trackStatusPanel{
  display: flex;
  background: rgba(255, 255, 255, 0.60);
  height: 23px;
  flex-direction: row;
  border-bottom: 2px solid #A9A9A9;
}

.trackStatusMsg{
  cursor: default;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  color: white;
  width: 150px;
  background: #6F6F6F;
}


.masterControllPanelControls{
  display: flex;
  border-radius: 5px;
  box-shadow:  inset 0 0 7px  #1D1D1D;
  flex-direction: row;
  width: 99%;
  height: 45px;
  border: solid 1px #AFAFAF;
  align-items: center;
  justify-content: space-around;
}

.masterControllPanel{
  color: #5a5a5a;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 65px;
  margin-right: 30px;
  z-index: 100;
  background-color: rgba(72,72,72,0.98);
  box-shadow: 0px 0px 4px 1px #5a5a5a;
}

.containerTrackDiv{
  display: flex;
  flex-direction: row;
  border-bottom: solid 2px #A9A9A9;
  height: 170px;


}

.playbackRecordingDiv{
  display: flex;
  width: 150px;
  flex-direction: column;
}

.playbackOptionsDiv{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(128, 128, 128, 0.35);
  flex-grow: 1;
  flex-direction: row;
  border-right: solid 2px #5a5a5a;
  border-bottom: solid 2px #5a5a5a;
  padding: 3px;
}
.recordingOptionsDiv{
  display: flex;
  align-items: center;
  background: rgba(128, 128, 128, 0.35);
  justify-content: space-around;

  border-right: solid 2px #5a5a5a;
  flex-direction: row;
  flex-grow: 1;
  padding: 3px;
}


.waveformContainerDiv{
  flex-grow: 1;
  height: 170px;
  padding-left: 1px;
  background-color: rgba(255, 255, 255, 0.60);

}

#tracksDiv{
  padding-top: 90px;
}

.homePageRedirect{
  position:fixed;
  top:50%;
  right:50%;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(77, 77, 77, 0.73);
-moz-box-shadow: 0px 0px 4px 1px rgba(77, 77, 77, 0.73);
box-shadow: 0px 0px 4px 1px rgba(77, 77, 77, 0.73);
  background-color: rgba(255, 255, 255, 0.88);
  border-radius: 3px;
  transform: translate(50%, -50%);
}
.info{
  position: fixed;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  left:5px;
  bottom:5px;
  background-image: url("infoIcon.png");
}

.logo{
  cursor:default;
  position: fixed;
  right:6px;
  bottom:6px;
  border: solid 2px rgba(167, 167, 167, 1);
  border-radius: 1px;
}

.arrow-down {
  position: fixed;
  margin-bottom: 15px;
  bottom: 15px;
  right:50%;
  border-right:4px solid rgba(167, 167, 167, 1);
  border-bottom:4px solid rgba(167, 167, 167, 1);
  width:34px;
  height:34px;
  transform: rotate(45deg) translate(50%,0);


}
.arrow-left {
  position: fixed;
  left:15px;
  top:45%;
  border-left:3px solid rgba(167, 167, 167, 1);
  border-bottom:3px solid rgba(167, 167, 167, 1);
  width:34px;
  height:37px;
  transform: rotate(45deg);

}

.arrow-up {
  position: fixed;
  top:15px;
  right:50%;
  border-left:4px solid rgba(167, 167, 167, 1);
  border-top:4px solid rgba(167, 167, 167, 1);
  width:34px;
  height:34px;
  transform: rotate(45deg);

}

a {
  text-decoration: none;
  margin-left:6px;
}

#userNameLogOutDiv{
  display: flex;
}

/* This might cause probs later - make specific to class */
input[type="text"] {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  padding: 2px;
  width: 400px;
  height: 35px;
  border: none;
  border: solid 2px #5a5a5a;
  border-radius: 2px;
  padding-left: 4px;
  font-weight: 300;
  color: #5a5a5a;
  margin-bottom: 3px;
  margin-top: 3px;
  transition: box-shadow 150ms ease;
  background: rgba(255,255,255,1);
}

input[type="password"] {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  padding: 2px;
  width: 400px;
  height: 35px;
  border: none;
  border: solid 2px #5a5a5a;
  border-radius: 2px;
  padding-left: 4px;
  font-weight: 300;
  color: #5a5a5a;
  margin-bottom: 3px;
  margin-top: 3px;
  transition: box-shadow 150ms ease;
  background: rgba(255,255,255,1);
}

input[type="submit"]{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 8px;
  min-width: 130px;
  height: 50px;
  border: solid 2px #5a5a5a;
  border-radius: 2px;
  font-weight: 500;
  color: #5a5a5a;
  margin-right: 8px;
  margin-left: 0px;
  margin-bottom: 3px;
  margin-top: 3px;
  transition: box-shadow 100ms ease;
  background: rgba(255,255,255,1);
}
input[type="submit"]:focus{
  outline: 0;
}

.buttonsInsideTrack{
  font-family: 'Roboto', sans-serif;
  margin-left: 3px;
  height: 10px;
  border-radius: 3px;
  background-color: #6F6F6F;
  font-size: 9px;
  padding: 4px;
  min-width: 66px;
  max-width: 120px;
  font-weight: 500;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 11px;
  cursor: pointer;

}
.buttonsInsideTrack:hover{
  color: white;
  background-color: #0099FF;
  border-color: #0099FF;
}

.trackName{
  cursor: default;
  font-family: 'Roboto', sans-serif;
  margin-left: 1px;
  border-radius: 2px;
  font-size: 17px;
  padding: 6px;

  height: 12px;
  font-weight: 600;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 12px;
}

input[type="submit"].newUser {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  width: auto;
  height: auto;
  padding: 3px;
  border: solid 2px rgba(255,255,255, 0);
  border-radius: 2px;
  font-weight: 400;
  transition: box-shadow 100ms ease;
  background: rgba(255,255,255,1);
}

input#doneButton{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 8px;
  min-width: 130px;
  height: 50px;
  -webkit-appearance: none;
  outline: none;
  border: solid 2px #0099FF;
  border-radius: 2px;
  font-weight: 500;
  color: white;
  margin-right: 8px;
  margin-left: 0px;
  margin-bottom: 3px;
  margin-top: 3px;
  transition: box-shadow 100ms ease;
  background: #0099FF;
}
input#doneButton:hover{
  background: #0085dd;
  border: solid 2px #0085dd;
}

input[type="submit"]:hover {
  transition: box-shadow 100ms ease;
  border-color: #0099FF;
  background: #0099FF;
  color:white;
  -webkit-box-shadow: 0 4px 4px -4px gray;
   -moz-box-shadow: 0 4px 4px -4px gray;
        box-shadow: 0 4px 4px -4px gray;
}

input[type="password"]:hover {
  transition: box-shadow 100ms ease;
  border-color: #5a5a5a;
  -webkit-box-shadow: 0 4px 4px -4px gray;
   -moz-box-shadow: 0 4px 4px -4px gray;
        box-shadow: 0 4px 4px -4px gray;
}

input[type="password"]:focus {
  outline: none;
  transition: box-shadow 100ms ease;
 border-color:#0099FF;
  -webkit-box-shadow: 0 4px 4px -4px gray;
   -moz-box-shadow: 0 4px 4px -4px gray;
        box-shadow: 0 4px 4px -4px gray;
}

input[type="text"]:focus {
  outline: none;
  transition: box-shadow 100ms ease;
  border-color: #0099FF;

  -webkit-box-shadow: 0 4px 4px -4px gray;
   -moz-box-shadow: 0 4px 4px -4px gray;
        box-shadow: 0 4px 4px -4px gray;
}

input[type="text"]:hover{
  transition: box-shadow 100ms ease;
  -webkit-box-shadow: 0 4px 4px -4px gray;
   -moz-box-shadow: 0 4px 4px -4px gray;
        box-shadow: 0 4px 4px -4px gray;
}

#loginSection{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: transparent;

}

#signupSection{
  display: flex;
  align-items: center;
  padding-left: 100px;
  background-size:cover;
  background-image: url('c4.jpg');
  background-repeat: no-repeat;
  height: 100%;
}

#aboutSection{
  height: 100%;
  background-color: rgb(88, 88, 88);
}

#naviBar{
  position:fixed;
  top:3px;
  right:5px;
  display: flex;
  flex-direction: row;
}


form{
  margin-top: -40px;
  display:inline;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color:#5a5a5a;
  margin:0;
  padding: 0;
  font-size: 37px;
}
h6{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color:#5a5a5a;
  margin:1px;
  padding: 0;
  font-size: 14px;
}
h5{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color:rgba(167, 167, 167, 1);
  margin:0;
  padding: 5px;
  font-size: 15px;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color:rgb(255, 109, 69);
  margin:0;
  padding: 0;
  font-size: 14px;
}
h4{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #0099FF;
  margin:0;
  padding: 0;
  font-size: 14px;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:rgb(165, 161, 159);
  margin:0;
  padding: 0;
  font-size: 13px;
}


.onoffswitch {
    position: relative; width: 65px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #5A5A5A; border-radius: 40px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.2s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 17px; padding: 0; line-height: 17px;
    font-size: 8px; color: white; font-weight: 600;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "MIC ON";
    padding-left: 5px;
    background-color: #FF6D45; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "MIC OFF";
    padding-right: 5px;
    background-color: #EEEEEE; color: #5A5A5A;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 22px; margin: -2.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 42px;
    border: 2px solid #5A5A5A; border-radius: 40px;
    transition: all 0.2s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}



[class*=icono-]{
  color:#5A5A5A;
}
#playMaster {
    transition: border-color 150ms ease;
    border-left: 16px solid #0099FF;
    border-right: 0px solid transparent;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    content: "";
    cursor: pointer;
}


#play {
    transition: border-color 150ms ease;
    border-left: 22px solid #5A5A5A;
    border-right: 0px solid transparent;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    content: "";
    cursor: pointer;
}

#play:hover {
    border-left: 22px solid #0099FF;
    transition: border-color 150ms ease;
}
#playMaster:hover {
    border-left: 16px solid #0099FF;
    transition: border-color 150ms ease;
}

#rec {
    transition: border-color 150ms ease;
    transition: background-color 150ms ease;
    width: 9px;
    height: 9px;
    border: 8px solid #0099FF;
    border-radius: 16px;
    background-color: #FF4D1D;
    content: "";
    cursor: pointer;
}

#rec:hover {
    transition: border-color 150ms ease;
    border: 8px solid #0099FF;
}

#recStop {
    transition: border-color 150ms ease;
    transition: background-color 150ms ease;
    width: 10px;
    height: 10px;
    border: 11px solid #5A5A5A;
    cursor: pointer;
    background-color: #FF4D1D;
    content: "";
}

#recStop:hover {
    transition: border-color 150ms ease;
    border: 11px solid #0099FF;
}

#recStopMaster {
    transition: border-color 150ms ease;
    transition: background-color 150ms ease;
    width: 7px;
    height: 7px;
    border: 9px solid #0099FF;
    cursor: pointer;
    background-color: #FF4D1D;
    content: "";
}

#recStopMaster:hover {
    transition: border-color 150ms ease;
    border: 9px solid #0099FF;
}

#recTrack {
    cursor: pointer;
    transition: border-color 150ms ease;
    transition: background-color 150ms ease;
    width: 13px;
    height: 13px;
    border: 10px solid #5A5A5A;
    border-radius: 20px;
    background-color: #FF4D1D;
    content: "";
}

#recTrack:hover {
    transition: border-color 150ms ease;
    border: 10px solid #0099FF;
}


#stop {
    cursor: pointer;
    transition: border-color 150ms ease;
    border-left: 32px solid #5A5A5A;
    height: 32px;
    content: "";
}

#stop:hover {
    border-left: 32px solid #0099FF;
    height: 32px;
    content: "";
}

#stopMaster{
    cursor: pointer;
    transition: border-color 150ms ease;
    border-left: 25px solid #0099FF;
    height: 25px;
    content: "";
}

#stopMaster:hover {
    border-left: 25px solid #0099FF;
    height: 25px;
    content: "";
}

#pause{
    cursor: pointer;
    transition: border-color 150ms ease;
    border-left: 10px solid #5A5A5A;
    border-right: 10px solid #5A5A5A;
    width: 5px;
    height: 32px;
    content: "";
}

#pause:hover{
    transition: border-color 150ms ease;
    border-left: 10px solid #0099FF;
    border-right: 10px solid #0099FF;
}

#pauseMaster{
    cursor: pointer;
    transition: border-color 150ms ease;
    border-left: 7px solid #0099FF;
    border-right: 7px solid #0099FF;
    width: 5px;
    height: 25px;
    content: "";
}

#pauseMaster:hover{
    transition: border-color 150ms ease;
    border-left: 7px solid #0099FF;
    border-right: 7px solid #0099FF;
}

input[type=range]{
    -webkit-appearance: none;
    -webkit-transform:rotate(-90deg);
    cursor: ns-resize;
    z-index: 2;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 90px;
    height: 4px;

    background: #A0A0A0;
    border: none;
    border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: solid 5px #33ADFF;
    height: 17px;
    width: 9px;
    background-color: #33ADFF;
    background: white;
    margin-top: -6px;
}


input[type=range]:focus {
    outline: none;
}

.sliderSizeVertical{
  width: 96px;
}

.sliderVertical{
  display:flex;
  flex-direction: column;
  width: 25px;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  padding-left: 9px;
  padding-right: 9px;
}
