<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="../public/css/favicon.png" />
    <meta charset="utf-8">
    <title>Pentatonic : demo</title>

    <link rel="stylesheet" href="../public/css/icono.min.css"  />
    <link rel="stylesheet" href="../public/css/base.css"  />


    <style>
      body{
        background-image: url("../public/css/c41.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
      }
    </style>
  </head>
  <body id="demoPage">
    <div id="masterContainer"></div>
  </body>

  <script src="../public/libs/wavesurfer.min.js"></script>
  <script src="../public/libs/wavesurfer.timeline.js"></script>
  <script src="../public/libs/wavesurfer.microphone.js"></script>
  <script src="../public/libs/wavesurfer.regions.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900,100italic,300italic,400italic,500italic' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>

  <script>
    var navigator = window.navigator;
    navigator.getUserMedia = ( navigator.getUserMedia ||
                     navigator.webkitGetUserMedia ||
                     navigator.mozGetUserMedia ||
                     navigator.msGetUserMedia);
    var mediaStream;
    var Context = window.AudioContext || window.webkitAudioContext;
    var contextForRec = new Context();
    var audioContext = new Context;
    var masterMicStatus = false;
    var mediaStreamSource;
    var outerThis3 = this;


  </script>

  <script src="../public/javaScripts/demoPageBundle.js"></script>
</html>
