<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="../public/css/favicon.png" />
    <meta charset="utf-8">
    <title>Pentatonic:no support</title>

    <link rel="stylesheet" href="../public/css/base.css"  />
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300' rel='stylesheet' type='text/css'>

    <style>
      body{
        background-image: url("../public/css/noSupport.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
      }
    </style>
  </head>
  <body>
    <div id="noSupport">
      <p>Updated Version Of Chrome Is Required</p>
    </div>
  </body>

</html>
