<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>

    <link rel="stylesheet" href="../public/css/icono.min.css"  />
    <link rel="stylesheet" href="../public/css/base.css"  />
    <link rel="stylesheet" href="../public/css/index.css"  />
    <link rel="stylesheet" href="../public/css/index2.css"  />
    <link rel="stylesheet" href="../public/css/base.css"  />
    <link rel="stylesheet" href="../public/css/react-super-select.css"  />

    <style>
      body{
        background-image: url("../public/css/c4.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
      }
    </style>
  </head>
  <body id="demoPage">
    <div class="logo" id="demoPage"><h5>TGA</h6></div>
    <div id="masterContainer"></div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900,100italic,300italic,400italic,500italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>

  <script src="../public/javaScripts/profilePageBundle.js"></script>
</html>
