<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DEMO</title>

    <link rel="stylesheet" href="../public/css/icono.min.css"  />
    <link rel="stylesheet" href="../public/css/base.css"  />
    <script src="../public/tracks.js"></script>
    <script src="../public/Recorderjs/recorder.js"></script>
    <script src="../public/wavesurfer.min.js"></script>
    <script src="../public/wavesurfer.microphone.js"></script>
    <script src="../public/wavesurfer.timeline.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900,100italic,300italic,400italic,500italic' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <style>
      body{
        background-image: url("../public/css/c41.jpg");
        background-position: center;
        background-size: cover;
      }

    </style>
  </head>
  <body id="demoPage">

    <div id="naviBar">
        <a href="/"><h6>Home </h6></a>
        <a href="/"><h6>About </h6></a>
        <a href="/signup"><h6>Register </h6></a>
        <a href="/passwordReset"><h6>Forgot Password</h6></a>
    </div>

    <div class="logo"><h5>TGA</h6></div>
    <div id="masterPanel"></div>
    <div id="tracksDiv"></div>
    <div id="testPlayback"></div>

      <script>
        var navigator = window.navigator;
        navigator.getUserMedia = ( navigator.getUserMedia ||
                         navigator.webkitGetUserMedia ||
                         navigator.mozGetUserMedia ||
                         navigator.msGetUserMedia);
        var mediaStream;

        var Context = window.AudioContext || window.webkitAudioContext;
        var contextForRec = new Context();

        var audioContext = new Context;
        var masterMicStatus = false;

        var mediaStreamSource;
      </script>

      <script type="text/babel">

          var MasterController = React.createClass({
            getInitialState: function() {
              return {micSwitchState: false};
            },
            handleMasterPlay: function(){
              console.log(mediaStream);
            },
            handleMicSwitchChange: function(e) {
              console.log(e.target.checked);
              var outerThis = this;
              if(e.target.checked == true){
                navigator.getUserMedia({audio: true}, function(localMediaStream){
                  mediaStream = localMediaStream;
                  mediaStreamSource = contextForRec.createMediaStreamSource(mediaStream);
                  masterMicStatus = true;

                }, function(err){
                  console.log('Browser not supported');
                });
              }else{
                mediaStream.getTracks()[0].stop();
                masterMicStatus = false;
              }

            },

            render: function() {

              return (
                <div className="masterControllPanel" >
                  <p>MASTER CONTROLLER</p>
                  <div className="onoffswitch">
                      <input
                            type="checkbox" name="onoffswitch" className="onoffswitch-checkbox"
                            id="myonoffswitch" onChange={this.handleMicSwitchChange} checked={this.micSwitchState}
                      />
                      <label className="onoffswitch-label" htmlFor="myonoffswitch">
                          <span className="onoffswitch-inner"></span>
                          <span className="onoffswitch-switch"></span>
                      </label>
                  </div>
                  <div id="playMaster" onClick={this.handleMasterPlay}></div>
                  <div id="pauseMaster"></div>
                  <div id="stopMaster"></div>
                  <div id="rec"></div>
                </div>
              );
            }
          });

          var TracksPanel = React.createClass({

            getInitialState: function(){
              return {
                tracksArray : [{trackName:"track1", tracksTitle:"TRACK 1"},
                                  {trackName:"track2", tracksTitle:"TRACK 2"}
                                ]
              };
            },
            handleRecordTrack: function(){
              this.refs['track1'].handleRecord();
              this.refs['track2'].handleRecord();
              //this.refs.item0.animate()
              //this.state.tracksArray.pop();
              //this.setState({tracksArray: this.state.tracksArray});
            },
            handleStopTrack: function(){
              this.refs['track1'].handleRecStop();
              this.refs['track2'].handleRecStop();

              //this.refs.item0.animate()
              //this.state.tracksArray.pop();
              //this.setState({tracksArray: this.state.tracksArray});
            },
            handlePlayTrack: function(){
              this.refs['track1'].handlePlay();
              this.refs['track2'].handlePlay();
            },

            render: function(){

              var trackListItems = this.state.tracksArray.map(function(trackData) {
                        return (
                        	<Tracks
                              ref={trackData.trackName}
                          		key={trackData.trackName}
                          		trackName={trackData.trackName}
                              trackTitle={trackData.tracksTitle}
                          />
                        );
                      });

               return(
                 <div>
                    <button onClick={this.handleRecordTrack}> Record All </button>
                    <button onClick={this.handleStopTrack}> Stop All </button>
                    <button onClick={this.handlePlayTrack}> Play All </button>
                   {trackListItems}
                 </div>
               );
            }
          });

          var Tracks = React.createClass({
            getInitialState: function() {
              return {trackStatusMsg: 'TRACK UNARMED', armTrackButtom: "Arm Track"};
            },

            componentDidMount: function(){
              var outerThis = this;
              this.enablePlayBackButtons = false;
              this.currentColorMicIcon = "#5A5A5A";
              this.currentlyRecording = false;
              this.recordingIsPaused = false;
              this.trackIsArmed = false;
              this.waveSurferOn = false;
              this.wavesurfer = Object.create(WaveSurfer);
              this.wavesurfer.init({
                container     : "#" + outerThis.props.trackName,
                waveColor     : "#5A5A5A",
                interact      : false,
                cursorWidth   : 0,
                height        : 170
              });
              this.microphone = Object.create(WaveSurfer.Microphone);
              this.microphone.init({
                  wavesurfer: this.wavesurfer
              });

            },
            mouseOver: function (e) {
              e.target.style.color = "#0099FF";
            },
            mouseOut: function (e) {
              e.target.style.color =  this.currentColorMicIcon;
            },
            handleRecord: function(){
              var outerThis = this;
              if(this.trackIsArmed == true){
                if(this.currentlyRecording == false){
                  this.enablePlayBackButtons = false;
                  this.setState({trackStatusMsg:'RECORDING'});
                  this.microphone.destroy();
                  this.wavesurfer.empty();
                  this.wavesurfer.destroy();
                  this.wavesurfer = Object.create(WaveSurfer);
                  this.wavesurfer.init({
                    container     : "#" + outerThis.props.trackName,
                    waveColor     : "#5A5A5A",
                    interact      : false,
                    cursorWidth   : 0,
                    height        : 170
                  });
                  this.microphone = Object.create(WaveSurfer.Microphone);
                  this.microphone.init({
                      wavesurfer: this.wavesurfer
                  });
                  this.microphone.gotStream(mediaStream);
                  this.currentlyRecording = true;
                  this.microphone.play();
                  this.rec.record();
                  this.recordingIsPaused = false;

                }else{
                  this.enablePlayBackButtons = false;
                  this.setState({trackStatusMsg:'RECORDING PAUSED'});
                  this.currentlyRecording = false;
                  this.recordingIsPaused = true;
                  this.microphone.pause();
                  this.rec.stop();

                }
              }
            },
            handleShowWaveLive: function(e){
              var outerThis = this;
              if(this.currentlyRecording == false){
                if(this.waveSurferOn == false){
                  this.microphone.destroy();
                  this.wavesurfer.empty();
                  this.wavesurfer.destroy();
                  this.wavesurfer = Object.create(WaveSurfer);
                  this.wavesurfer.init({
                    container     : "#" + outerThis.props.trackName,
                    waveColor     : "#5A5A5A",
                    interact      : false,
                    cursorWidth   : 0,
                    height        : 170
                  });
                  this.microphone = Object.create(WaveSurfer.Microphone);
                  this.microphone.init({
                      wavesurfer: this.wavesurfer
                  });
                  this.microphone.gotStream(mediaStream);
                  this.microphone.play();
                  e.target.style.color = "#FF4D1D";
                  this.currentColorMicIcon = "#FF4D1D";
                  this.waveSurferOn = true;
                }else{
                  this.microphone.pause();
                  e.target.style.color = "#5A5A5A";
                  this.currentColorMicIcon = "#5A5A5A";
                  this.waveSurferOn = false;
                }
              }

            },
            handleLiveFeed: function(){

            },
            handleDownloadTrack: function(){
              var outerThis = this;
              this.rec.exportWAV(function(e){
                  outerThis.rec.clear();
                  Recorder.forceDownload(e, "filename.wav");
                });

            },
            handleRecStop: function(){
              if(this.currentlyRecording || this.recordingIsPaused){

                    this.setState({trackStatusMsg:"LOADING AUDIO"});

                    this.currentlyRecording = false;
                    this.recordingIsPaused = false;
                    this.microphone.pause();
                    this.rec.stop();
                    this.microphone.destroy();
                    this.wavesurfer.empty();
                    this.wavesurfer.destroy();

                    this.wavesurferPostRecording = Object.create(WaveSurfer);
                    var outerThis2 = this;

                    this.wavesurferPostRecording.init({
                        container: "#" + outerThis2.props.trackName,
                        waveColor: '#0099FF',
                        progressColor: '#5A5A5A',
                        interact      : true,
                        cursorWidth   : 3,
                        cursorColor   : '#FF6D45',
                        height        : 170
                    });
                    this.wavesurferPostRecording.on('ready', function () {
                      outerThis2.timeline = Object.create(WaveSurfer.Timeline);
                      outerThis2.timeline.init({
                          wavesurfer: outerThis2.wavesurferPostRecording,
                          container: "#" + outerThis2.props.trackName,
                          primaryColor: '#5A5A5A',
                          secondaryColor: '#5A5A5A',
                          primaryFontColor: '#5A5A5A',
                          height: 40
                      });
                    });

                      var outerThis2 = this;
                        this.rec.getBuffer(function(buffers){
                          var newSource = audioContext.createBufferSource();
                          var newBuffer = audioContext.createBuffer( 2, buffers[0].length, audioContext.sampleRate );
                          newBuffer.getChannelData(0).set(buffers[0]);
                          newBuffer.getChannelData(1).set(buffers[1]);
                          newSource.buffer = newBuffer;

                          newSource.connect( audioContext.destination );
                          newSource.start(0);
                        });

                        this.rec.exportWAV(function(audio){
                          var blob= new Blob([audio]);
                          outerThis2.wavesurferPostRecording.loadBlob(blob);
                          outerThis2.setState({trackStatusMsg: "RECORDING DONE"});
                        });
                        this.enablePlayBackButtons = true;

                }

            },
            handlePlay: function(){
              if( this.trackIsArmed && !this.currentlyRecording &&
                  !this.recordingIsPaused && this.enablePlayBackButtons){
                      this.wavesurferPostRecording.play();
              }
            },
            handleStop: function(){
              if( this.trackIsArmed && !this.currentlyRecording &&
                  !this.recordingIsPaused && this.enablePlayBackButtons){
                      this.wavesurferPostRecording.stop();
              }
            },
            handlePause: function(){
              if( this.trackIsArmed && !this.currentlyRecording &&
                  !this.recordingIsPaused && this.enablePlayBackButtons){
                      this.wavesurferPostRecording.pause();
              }

            },
            handleTrackArm: function(e){
              if(masterMicStatus == true){
                if(this.trackIsArmed == false){
                  this.rec = new Recorder(mediaStreamSource, {
                   workerPath: '../public/Recorderjs/recorderWorker.js'
                  });
                  this.trackIsArmed = true;
                  this.setState({trackStatusMsg:'TRACK ARMED', armTrackButtom: 'Unarm Track'});
                }else{
                  this.trackIsArmed = false;
                  this.setState({trackStatusMsg:'TRACK UNARMED', armTrackButtom: 'Arm Track' });
                }
              }
            },

            render: function(){
              return (
                <div>
                <div className="trackMasterPanel">

                 <div className="trackInfoPanel">
                    <div className="trackName"> {this.props.trackTitle} </div>
                    <div className="buttonsInsideTrack" onClick={this.handleTrackArm}> {this.state.armTrackButtom} </div>
                    <div className="buttonsInsideTrack" onClick={this.handleShowWaveLive}> Show Wave </div>
                    <div className="buttonsInsideTrack"> Mute </div>
                    <div className="buttonsInsideTrack"> Solo </div>
                 </div>
                  <div className="containerTrackDiv">

                    <div className="playbackRecordingDiv">

                      <div className="playbackOptionsDiv">
                        <div id="play"  onClick={this.handlePlay}></div>
                        <div id="stop"  onClick={this.handleStop}></div>
                        <div id="pause" onClick={this.handlePause}></div>
                      </div>
                      <div className="recordingOptionsDiv">
                        <div id="recTrack" onClick={this.handleRecord}></div>
                        <div id="recStop" onClick={this.handleRecStop}></div>
                        <div className="icono-headphone" onClick={this.handleDownloadTrack}></div>
                      </div>

                    </div>

                    <div id={this.props.trackName} className="waveformContainerDiv"> </div>

                  </div>
                  <div className="trackStatusPanel">
                    <div className="trackStatusMsg"> {this.state.trackStatusMsg} </div>
                  </div>
                  </div>
                  <br />
                  </div>
              );
            },
            animate: function() {
    console.log('Pretend %s is animating', this.props.title);
  }
          });

          ReactDOM.render(
          <MasterController />,
          document.getElementById('masterPanel')
          );

          ReactDOM.render(
          <TracksPanel />,
          document.getElementById('tracksDiv')
          );

      </script>



  </body>
</html>
