<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <!-- Not present in the tutorial. Just for basic styling. -->
    <link rel="stylesheet" href="../public/css/base.css"  />
    <script src="../public/Recorderjs/recorder.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900,100italic,300italic,400italic,500italic' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
  </head>
  <body>
    <div class="logo"><h5>TGA</h6></div>
    <div id="naviBar"></div>
    <div id="waveform"></div>
    <div id="controlPanel">
      <button onclick="record()">Record</button>
      <button onclick="stop()">Stop</button>
    </div>
      <script>

      var navigator = window.navigator;
      navigator.getUserMedia = ( navigator.getUserMedia ||
                             navigator.webkitGetUserMedia ||
                             navigator.mozGetUserMedia ||
                             navigator.msGetUserMedia);

var Context = window.AudioContext || window.webkitAudioContext;
var context = new Context();

      var Context = window.AudioContext || window.webkitAudioContext;
      var context = new Context();
      var mediaStream;
      var rec;

      function record() {
        // ask for permission and start recording
        navigator.getUserMedia({audio: true}, function(localMediaStream){
          mediaStream = localMediaStream;

          // create a stream source to pass to Recorder.js
          var mediaStreamSource = context.createMediaStreamSource(localMediaStream);

          // create new instance of Recorder.js using the mediaStreamSource
          rec = new Recorder(mediaStreamSource, {
            //pass the path to recorderWorker.js file here
           workerPath: '../public/Recorderjs/recorderWorker.js'
         });
          //rec = new Recorder(mediaStreamSource);

          // start recording
          rec.record();
        }, function(err){
          console.log('Browser not supported');
        });
      }

      function stop() {
  // stop the media stream
        mediaStream.getTracks()[0].stop();
        //MediaStreamTrack.stop();
  // stop Recorder.js
        rec.stop();

  // export it to WAV
        rec.exportWAV(function(e){
            rec.clear();
            Recorder.forceDownload(e, "filename.wav");
          });
      }
/*
        var wavesurfer = Object.create(WaveSurfer);

        wavesurfer.init({
          container     : '#waveform',
          waveColor     : 'black',
          interact      : false,
          cursorWidth   : 0
        });

        var microphone = Object.create(WaveSurfer.Microphone);

        microphone.init({
            wavesurfer: wavesurfer
        });

        microphone.on('deviceReady', function(stream) {
            console.log('Device ready!', stream);
        });
        microphone.on('deviceError', function(code) {
            console.warn('Device error: ' + code);
        });

        // start the microphone
        microphone.start();

        // pause rendering
        //microphone.pause();

        // resume rendering
        //microphone.play();

        // stop visualization and disconnect microphone
        //microphone.stopDevice();

        // same as stopDevice() but also clears the wavesurfer canvas
        //microphone.stop();

        // destroy the plugin
        //microphone.destroy();

*/

        </script>



      <script type="text/babel">


          var LoginSection = React.createClass({

            render: function() {
              return (
                <div id="userNameLogOutDiv">
                <a href="/"><h6>Home</h6></a>
                <a href="/signup"><h6>Register</h6></a>
                <a href="/"><h6>Login</h6></a>
                </div>
              );
            }

          });
          ReactDOM.render(
          <LoginSection />,
          document.getElementById('naviBar')
          );

      </script>

  </body>
</html>
